.card {
    /* Add shadows to create the "card" effect */
    background-color: #ffffff ;
    box-shadow: 0px 400px 80px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    width: 45%;
    color: #334d4d;
}

.card th {
    background-color: #1891e7 ;
    color:white;
}

.card td{
    padding: 2px 2px 2px 5px !important ;
}

.card th{
    padding: 10px;
}

.modal-dialog { 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
}
.modal-body { 
    width: 100%; 
    height: 100%; 
    padding: 0px;
}
.modal-content { 
    width: 100%; 
    height: 100%; 
    background-color: RGBA(0,0,0,0.4)  !important;
}
.closeButton1{ 
    float: right;
    font-size: 15px !important;
    padding: 2px;
    /* color: #FFF; */
    /* background-color: RGBA(0,0,0,0.8)  */
}
.full-image{
    margin-top: 70px;
}

.fade .in {
    padding: 0px;
}

.manageDetails {
    /* margin-top: 35vh;
    margin */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;

}

@media(max-width: 767px) {
    .card{
        width:96%;
    }
}
/* 
.panel-body {
    background-color: rgba(216, 216, 214, 0.966);

} */