.ManagePic{
    width : 100% ;
    height : auto ;
    color: blue;
    display : flex;
    justify-content: space-around ;
    margin : 0px 0px 10px 0px ;
    background-color: white ;
}

.Pic {
    width : 100px;
    height : 100px;
    border : solid 1px white;
    background-color: white ;
    margin-bottom: 10px;
}

.data{
    margin: 10px 10px 10px 10px ;
    width: 100% ;
    height : auto ;
    border : solid 1px black ;
    padding : 10px ;
    background-color: white ;
    color : black ;
        
}



.table1{
    color : black ;
}

.table1 thead tr th{
/* height : 10px; */
padding : 5px; 
background-color: #1891e7 ;
color : white ; 
}

.table1 td {
    color : black;
    padding :  2px ;
}

.pannelList ul li {
    text-decoration: none ;
    list-style: none; 
}

.acceptbtn{
    background-color: #009900 !important ; 
    color: ghostwhite !important ; 
}

.rejectbtn{
    background-color: #e62e00 !important ; 
    color: ghostwhite !important ; 
}

.Managebtn{
    width : 100%;
    display : flex;
    justify-content: space-around ;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


}

.managedetails ul{
    padding : 0px ;
}

.managedetails ul:hover{
color : #1891e7 ;
cursor : default ;
}

.managedetails ul li {
    text-decoration: none ;
    list-style: none ;
}

.user{
    width :100% ;
}

.mpic{
    text-align: center;
    color : black
}


.modal-dialog { 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
}
.modal-body { 
    width: 100%; 
    height: 100%; 
    padding: 0px;
}
.modal-content { 
    width: 100%; 
    height: 100%; 
    background-color: RGBA(0,0,0,0.8) 
}
.closeButton{ 
    float: right;
    font-size: 25px;
    /* color: #FFF; */
    /* background-color: RGBA(0,0,0,0.8)  */
}
.full-image{
    margin-top: 70px;
}

.fade .in {
    padding: 0px;
}

.rowTable{
    width:100%;
    display: flex;
    float: left;
}



@media(max-width: 767px) {

.ManagePic{
    display: block !important ;
}

.mpic{
    float: left;
    width: 50%;
    margin-bottom: 15px
}

.rowTable{
    height:auto;
    display:block;
    float:left;
}

}
