@import '../variables.scss';

.loginPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: var(--brand-primary);
  color: #fff;
    .loginForm {
    height: auto;
    width: 500px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -287.5px;
    text-align: center;
    background: #174C6C;
    border: 3px solid rgba(255,255,255,0.1);

    img {
    height: 100px;
    margin-top: 20px;
    // border-radius: 50%;
    }

   h1 {
    font-weight: 300;
    font-size: 30px;
    margin: 20px 0;
    }

    .formContent {
    padding-top: 20px;
    padding-bottom: 10px;

    &:global(.form-group) {
    padding: 8px 0;
    }

   .inputStyle {
      background: none;
      border: none;
      box-shadow: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      color: #FFF;
      border-radius: 0;
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
       ::placeholder {
        color: #fff;
        }
      &:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
      }
    }
  }

   .loginbtn {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    background: none;
    border-color: transparent;
    font-weight: 400;
    border-radius: 50px;
    text-transform: none;
    font-size: 18px;
    line-height: 45px;
    padding: 0 25px;
    color: #fff;
     &:hover, &:focus , &:active {
      box-shadow: 0 0 0 2px #fff inset;
      color: #fff;
      background: none;
      outline: none;
    }
    //  & :global(.progress .progress-inner) {
    //   background: color(var(--brand-primary) lightness(40%));
    // }
  }
  }

}
