.cardCompleted {
    /* Add shadows to create the "cardCompleted" effect */
    background-color: #ffffff ;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    width: 45%;
    color: #334d4d;
    border-radius: 7px 7px 7px 7px ;
}

.cardCompleted th {
    background-color: #1891e7 ;
    color:white;
}

.cardCompleted td{
    padding: 5px 5px 5px 5px !important ;
}

.cardCompleted th{
    padding: 10px;
}

.modal-dialog { 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
}
.modal-body { 
    width: 100%; 
    height: 100%; 
    padding: 0px;
}
.modal-content { 
    width: 100%; 
    height: 100%; 
    background-color: RGBA(0,0,0,0.4)  !important;
}
.closeButtonCompleted{ 
    float: right;
    font-size: 15px !important;
    padding: 2px;
    /* color: #FFF; */
    /* background-color: RGBA(0,0,0,0.8)  */
}
.full-image{
    margin-top: 70px;
}

.fade .in {
    padding: 0px;
}

.manageDetailsCompleted {
    /* margin-top: 35vh;
    margin */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
    border-radius: 50%;

}

@media(max-width: 767px) {
    .cardCompleted{
        width:96%;
    }
}
