.UploadPic{
    height : auto;
    width : 70% ;
    float :left ;
}
.ManageUpload{
    height : auto ;
    width : 30% ;
    float: left;
}


.table2 tr td{
    padding: 5px ;
}

.imagebtm{
    width: 150px ;
}

.dropZone{
    color : red ;
    text-align: center;
    padding-top: 70px ;
    font-weight: bold;
}

.successMessage{
    color : green;
    font-weight: bold;
}

@media(max-width: 767px) {

.UploadPic{
    width : 100% ;
}
.ManageUpload{
    width : 100% ;
}
.table2 tr td{
    padding-left : 0px ;
}

}