.Panelprice{
  /*height: 194px;*/
  & .panelBody {
     background-color: #fff;
     & .form {
        margin-top: 11px;
       & .formgroup {
          margin-top: 10px;
          margin-bottom:  6px;
          & .formcontrol {
            background-color: '#ddd';
            width: 65%;
          }
       }
     }
  }
}
