.panelemail{
  height: 250px;
  & .pannelListGroup {
     margin-bottom: 0px;
     margin-top: -4px;
     & .pannelList {
       border-width: 0;
       margin-bottom: 5px;
       padding: 15px 15px;
       border-bottom-width: 1px;
       border-bottom-color: #eee;
       span {
         color: grey;
       }
       & .pannelListButtons {
         display: inline-block;
         float: right;
       }
     }

   }
   & .panelBody{
      padding-left: 10px;
      padding-right: 10px
    }

    & .form {
      margin-top: 11px;
      & .formgroup {
        margin-top: 10px;
        margin-bottom:  6px;
        & .label {

        }
        & .checkbox {
          /*margin-left: 10px;*/
        }
      }
    }

}
